/*
* Localize this file
*/
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_THEMEDLG DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Themes"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    LTEXT           "A theme is a background plus a set of sounds, icons, and other elements to help you personalize your computer with one click.",1104,7,5,228,24
    LTEXT           "&Theme:",1105,7,31,100,9
    COMBOBOX        1101,7,42,128,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Save As...",1107,140,40,50,14
    PUSHBUTTON      "&Delete",1108,194,40,50,14
    LTEXT           "Sample:",1106,7,61,100,9
    CONTROL         "Theme Preview",1103,"Static",SS_BITMAP | SS_CENTERIMAGE | WS_BORDER | WS_GROUP,7,70,238,141
END

IDD_BACKGROUNDDLG DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Desktop"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL         "Preview",1200,"Static",SS_BITMAP | SS_CENTERIMAGE | WS_GROUP,63,7,125,107
    LTEXT           "Bac&kground:",1201,8,115,180,9
    CONTROL         "",1202,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,7,127,181,70
    PUSHBUTTON      "&Browse...",1203,195,127,50,14
    LTEXT           "&Position:",1204,196,148,36,9
    COMBOBOX        1205,195,158,50,54,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Color:",1206,196,177,36,9
    CONTROL         "",1207,"Button", BS_OWNERDRAW | WS_TABSTOP, 195, 187, 50, 13
    PUSHBUTTON      "Customize &Desktop...",1208,7,200,88,15
END

IDD_SCRSVRDLG DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Saver"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL         "",1302,"Static",SS_BITMAP | SS_CENTERIMAGE,63,7,125,107
    GROUPBOX        "&Screen saver",1844,7,113,238,48
    COMBOBOX        1300,13,124,115,200,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "Se&ttings",1303,132,123,50,14,WS_GROUP
    PUSHBUTTON      "Pre&view",1304,186,123,50,14
    LTEXT           "&Wait:",1316,13,144,17,9
    EDITTEXT        1306,32,142,33,12,ES_RIGHT | WS_GROUP
    CONTROL         "",1307,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_BORDER | WS_GROUP,65,142,11,12
    LTEXT           "minutes",1322,69,144,28,9
    CONTROL         "On resume, &password protect",1320,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,97,144,135,9
    GROUPBOX        "Monitor power",1317,7,163,238,52
    CONTROL         "",1305,"Static",SS_BITMAP,13,174,51,27
    PUSHBUTTON      "P&ower...",1314,187,196,50,14
    LTEXT           "To adjust monitor power settings and save energy, click Power.",1318,72,174,168,16
END

IDD_APPEARANCEDLG DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Appearance"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL         "", 1110, "Static", SS_BITMAP | SS_CENTERIMAGE, 9, 7, 236, 116, WS_EX_CLIENTEDGE
    LTEXT           "&Windows and buttons:",1112,7,131,100,9
    COMBOBOX        1111,7,141,131,200,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Color scheme:",1113,7,159,100,9
    COMBOBOX        1114,7,169,131,200,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Font size:",1115,7,188,100,9
    COMBOBOX        1116,7,198,131,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Effects...",1118,190,180,55,14
    PUSHBUTTON      "A&dvanced",1117,190,198,55,14
END

IDD_SETTINGSDLG DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL         "",1812,"Static",SS_BITMAP | SS_CENTERIMAGE,63,7,125,107
    LTEXT           "Drag the icons to match the physical arrangement of your monitors.",1819,7,7,250,8
    LTEXT           "",1801,7,18,238,82,SS_NOTIFY | WS_CLIPCHILDREN | WS_BORDER | NOT WS_GROUP | WS_TABSTOP
    LTEXT           "&Display:",1820,7,102,238,8
    COMBOBOX        1800,7,111,238,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "",1811,7,111,238,16
    GROUPBOX        "&Screen resolution",1818,7,128,115,43
    CONTROL         "",1808,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,34,138,58,17
    LTEXT           "Less",1815,13,138,15,8,NOT WS_GROUP
    LTEXT           "More",1816,97,138,21,8,NOT WS_GROUP
    CTEXT           "9999 X 9999 pixels",1814,14,158,100,10,NOT WS_GROUP
    GROUPBOX        "&Color quality",1817,129,128,116,43
    COMBOBOX        1807,135,139,103,80,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",1813,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_SUNKEN,135,156,103,9
    CONTROL         "&Use this device as the primary monitor.",1806,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,172,180,10
    CONTROL         "&Extend my Windows desktop onto this monitor.",1805,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,183,180,10
    PUSHBUTTON      "&Identify",1822,68,200,56,14
    PUSHBUTTON      "&Troubleshoot...",1821,126,200,59,14
    PUSHBUTTON      "Ad&vanced",1802,189,200,56,14
END

IDD_APPEARANCEBOX DIALOGEX 0, 0, 252, 237
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Advanced Appearance"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL "", 1470, "Static", WS_BORDER | SS_BITMAP | SS_NOTIFY | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 7, 5, 238, 120
    CONTROL "If you select a windows and buttons setting other than Windows Classic, it will override the following settings, except in some older programs.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 132, 238, 16
    CONTROL "&Item:", 1142, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 159, 26, 9
    CONTROL "", 1126, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 169, 131, 200
    CONTROL "Si&ze:", 1127, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 142, 159, 16, 9
    CONTROL "", 1128, EDIT, ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 142, 169, 38, 13
    CONTROL "", 1133, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 172, 169, 10, 13
    CONTROL "Co&lor 1:", 1134, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 159, 28, 9
    CONTROL "", 1135, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 169, 28, 13
    CONTROL "Color &2:", 1140, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 216, 159, 28, 9
    CONTROL "", 1141, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 169, 28, 13
    CONTROL "&Font:", 1137, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 188, 20, 9
    CONTROL "", 1129, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 198, 131, 200
    CONTROL "Siz&e:", 1139, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 142, 188, 17, 8
    CONTROL "", 1130, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 142, 198, 38, 200
    CONTROL "Colo&r:", 1138, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 188, 20, 9
    CONTROL "", 1136, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 198, 28, 13
    CONTROL "B", 1131, BUTTON, BS_CHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 198, 14, 13
    CONTROL "I", 1132, BUTTON, BS_CHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 230, 198, 14, 13
    CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 219, 50, 14
    CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 219, 50, 14
END
 
IDD_EFFECTSDLG DIALOGEX 0, 0, 272, 175
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Effects"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL "&Use the following transition effect for menus and tooltips:", 1175, BUTTON, BS_3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 7, 220, 10 
    CONTROL "", 1182, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 20, 19, 80, 42 
    CONTROL "U&se the following method to smooth edges of screen fonts:", 1177, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 35, 220, 10 
    CONTROL "", 1184, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 20, 47, 80, 42 
    CONTROL "Us&e large icons", 1180, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 67, 220, 10 
    CONTROL "Show sh&adows under menus", 1185, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 81, 220, 10 
    CONTROL "Show &window contents while dragging", 1179, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 95, 220, 10 
    CONTROL "&Hide underlined letters for keyboard navigation until I press the Alt key", 1181, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 109, 250, 10 
    CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 156, 50, 14 
    CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 215, 156, 50, 14 
END

IDD_THEMECHNGDLG DIALOGEX 20, 30, 233, 67
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Monitor Settings"
FONT 8, "MS Sans Serif", 400, 0, 0x1
BEGIN
    CONTROL "&No", 7, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 39, 50, 14
    CONTROL "&Yes", 6, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 39, 50, 14
    CONTROL "Your desktop has been reconfigured.  Do you want to keep these settings?", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 7, 185, 31
    CONTROL "", 1830, STATIC, SS_ICON | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 7, 7, 18, 20
    CONTROL "", 1831, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 46, 100, 14
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
  1480, 	"Type a name for the scheme you want to save."
  1481, 	"Select the scheme you want to delete."
  2000, 	"Windows Classic"
  2001, 	"Advanced Display and Theme Properties"
  2002, 	"Normal"
  2003, 	"Windows Classic style"
  2004, 	"Current"
  2005, 	"Windows Standard"
  2006, 	"%ls's Custom Theme"
  2007, 	"Themes"
  2008, 	"THEMES\\"
  2009, 	"My Current Theme"
  2010, 	"Browse..."
  2011, 	"Theme Files|*.Theme"
  2012, 	"Open Theme"
  2013, 	"&Use transition effects for menus and tooltips"
  2014, 	"Windows Default.theme"
  2015, 	"More themes online..."
  2016, 	"Windows Classic"
  2017, 	"Windows XP"
  2019, 	"Normal"
  2020, 	"Large"
  2021, 	"Extra Large"
  2022, 	"(None)"
  2023, 	"Display Settings"
  2025, 	"%s (Modified)"
  2026, 	"Modified Theme"
  2027, 	"NormalColor"
  2028, 	"NormalSize"
  2029, 	"NormalColor"
  2030, 	"NormalSize"
  2031, 	"On &resume, display Welcome screen"
  2032, 	"My Favorite Theme.theme"
  2033, 	"Theme Files\x00*.Theme"
  2043, 	"Windows default"
  2045, 	"Normal size (96 DPI)"
  2046, 	"Large size (120 DPI)"
  2050, 	"Please Wait"
  2051, 	"%WinDir%web\\wallpaper\\Bliss.bmp"
  2613, 	"Use &large icons"
  2617, 	"PLUS!.HLP"
  2621, 	"Effects"
  2622, 	"Fade effect"
  2623, 	"Scroll effect"
  2624, 	"ClearType"
  2625, 	"Standard"
  2626, 	"Effects"
  2627, 	"(Default Monitor)"
  2628, 	"(Multiple Monitors)"
  2638, 	"Change Settings"
  2640, 	"Reverting in %d seconds"
  2641, 	"%1!d!. %2 on %3"
  2642, 	"%s and %s"
  2643, 	"Monitor # %d"
  2644, 	"The monitor you have selected is currently disabled. If you enable this monitor, then it will be used as part of your Windows desktop; you can move your mouse to it, place icons on it, and show program windows on it. \r\n\n"
  2645, 	"Do you want to enable this monitor?"
  2652, 	"Not Active"
  2653, 	"Primary Display"
  2654, 	"Secondary Display"
  2655, 	"Lowest (4 bit)"
  2656, 	"Low (8 bit)"
  2657, 	"Medium (15 bit)"
  2658, 	"Medium (16 bit)"
  2659, 	"High (24 bit)"
  2660, 	"Highest (32 bit)"
  2661, 	"%d by %d pixels"
  2662, 	"Change DPI Setting"
  2666, 	"Custom setting..."
  2667, 	"Normal size (%d dpi)"
  2668, 	"%d%% normal size (%d dpi)"
  2670, 	"Arial"
  2671, 	"10 point %s at %d pixels per inch."
  2672, 	"To set custom font size, drag ruler."
  IDS_ACCEL_NONE, 	"Disable all accelerations. Use this setting only if your computer frequently stops responding or has other severe problems."
  IDS_ACCEL_REDUCED, 	"Disable all but basic accelerations. Use this setting to correct more severe problems."
  IDS_ACCEL_FULL, 	"All accelerations are enabled. Use this setting if your computer has no problems. (Recommended)"
  2750, 	"%SystemRoot%\\media\\ding.wav"
  2751, 	"%SystemRoot%\\media\\notify.wav"
  2752, 	"chord.wav"
  2753, 	"Windows Logon Sound.wav"
  3005, 	"Error Loading Theme"
  3008, 	"The theme could not load.  %s\n\nFile: %s"
  3009, 	"An error occurred deleting the theme.  %s\n\nTheme: %s"
  3010, 	"Error Deleting Theme"
  3011, 	"The theme could not load because one of the needed theme files could not be found.  This can happen with themes that are not installed or authored correctly.  You should verify that the wallpaper, screensaver, icons, sounds, and other files are in the correct location.\n\nTheme: %s"
  3012, 	"Error Loading Visual Styles"
  3013, 	"The visual styles could not be loaded because the file failed to load.  %s\n\nDetails:\n%s"
END

